@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fadeIn {
    from {
        transform: translateY(15vw);
    }
}

html {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Display';
	background-color: #1e1e2e;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: #cdd6f4;
    overflow: hidden;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    transition: color 0.25s ease;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.6s ease-out;
}

.main {
    background-color: rgba(24, 25, 38, 0.6);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    --webkit-backdrop-filter: blur(1px);
    border: 3px solid rgba(24, 25, 38, 0.35);
    padding: 40px;
    text-align: center;
    max-width: 30vw;
    max-height: 80vh;
    overflow: auto;
}

@media (max-width: calc(1.5 * 100vh)) {
    .main {
        max-width: 40vw;
    }

}

@media (max-width: 1020px){
    .main {
        max-width: 90vw;
        max-height: 90vh;
        padding: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }
    .profile-photo img {
        max-width: 80%;
    }

    .profile-photo::before {
        max-width: 80%;
    }

    section {
        height: 90vh;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
        margin: 0;
        scroll-snap-align: center;
    }

    .footer {
        width: 100%;
    }

}

@media (min-width: 1020px) {
    .arrowdn, .arrowup {
        display: none;
    }
}

@media (max-height: 1000px) and (orientation: landscape) {
    html {
        overflow: auto;
    }
    .arrowdn, .arrowup {
        display: none;
    }
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 50%;
    max-width: 250px;
    max-height: auto;
    position: relative;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.profile-photo::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-image: conic-gradient(#89b4fa, #a6e3a1, #f9e2af, #f38ba8, #89b4fa); */
    background-image: conic-gradient(from var(--angle), #89b4fa, #a6e3a1, #f9e2af, #f38ba8, #74c7ec);
    /* background-image: conic-gradient(transparent, #89b4fa, transparent, transparent, #a6e3a1, transparent, transparent, #f9e2af, transparent, transparent, #f38ba8, transparent, transparent); */
    border-radius: 51%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5%;
    animation: 10s spin linear infinite;
    filter: blur(0.5rem);
    z-index: 0;
}

@keyframes spin {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

ul {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
}

hr {
    max-width: 80%;
}

#title {
    background: linear-gradient(-45deg, #fde8ee, #fdf6e7, #edf9eb, #e7f0fe);
    color: #1e1e2e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(17, 17, 27, 0.5);
    padding: 2% 4%;
    border-radius: 50px;
    z-index: 1;
}

#title h3 {
    font-size: 1.5rem;
    margin: 0;
}

#title a {
    text-decoration: none;
}

#title:hover {
    background: linear-gradient(-45deg, #f38ba8, #f9e2af,#a6e3a1, #89b4fa);
    color: #1e1e2e;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#subtitle {
    color: rgb(215, 224, 254);
    margin: 2%;
}
#subtitle2 {
    color: rgba(205, 214, 244);
    margin: 3%;
}

.arrowdn {
    color: #89b4fa;
    font-size: 1.5rem;
    text-decoration: none;
    position: absolute;
    top: 75vh;
    width: 100%;
}

.arrowdn img {
    width: 30%;
    fill: white;
}

.arrowup {
    color: #89b4fa;
    font-size: 1.5rem;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 155vh;
    width: 100%;
}

.main-text {
    display: inline-block;
    max-width: 85%;
    border: 1px solid rgba(205, 214, 244, 0.5);
    padding: 2% 4%;
    border-radius: 50px;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4%;
}

.buttons a svg {
    display: flex;
    max-height: 35px;
    max-width: 35px;
    border-radius: 50%;
    fill: #cdd6f4;
}

.buttons a {
    transition: transform 0.5s ease;
    background: rgba(17, 17, 27, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(17, 17, 27, 0.4);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.buttons a:hover {
    transform: scale(150%);
    background: rgba(205, 214, 244, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(205, 214, 244, 0.3);
}

.buttons #youtube:hover svg{
    fill: #f38ba8;
    border-color: #f38ba8;
}

.buttons #github:hover svg{
    fill: #a6e3a1;
    border-color: #a6e3a1;
}

.buttons #pcparts:hover svg{
    fill: #f9e2af;
    border-color: #f9e2af;
}

#discordlink {
    color: #cdd6f4;
    text-decoration: none;
    background: rgba(17, 17, 27, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(17, 17, 27, 0.4);
    padding: 1% 2%;
    border-radius: 50px;
    margin-top: 2rem;
}

#discordlink {
    transition: transform 0.5s ease;
}

#discordlink:hover {
    transform: scale(120%);
    background: rgba(205, 214, 244, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(205, 214, 244, 0.3);
}

#discordlink:hover svg {
    fill: #89b4fa;
}

.discordinfo svg{
    max-height: 30px;
    max-width: 30px;
    fill: #cdd6f4;
    padding-right: 5px;
    vertical-align: middle;
}

.discordinfo {
    display: flex;
    justify-content: center;
}

.coinlink {
    transition: transform 1s ease;
}

.coinlink img {
    max-height: 30px;
    max-width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.coinlink:hover {
    transform:rotateY(360deg);
}

.footer {
    font-size: 12px;
    font-weight: bold;
    color: #a6adc8;
}

.footer a:hover {
    color: #89b4fa;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1e1e2e;
    overflow: hidden;
    z-index: -2;
}
